<nav class="navbar navbar-toggleable-md navbar-light bg-light" *ngIf="isAuthenticated == true">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">GPN</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Домой <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/assignments">Мои клиенты</a>
            </li>

            <li class="nav-item col-sm-push-5">
                <a class="nav-link" (click)="onLogout()">Выйти</a>
            </li>

        </ul>
    </div>
</nav>
