
<div class="row">
  <span class ="col-xs-12 col-sm-4">БИК:</span>
  <input type="text" [value]="client.BIK" class="col-xs-12 col-sm-6 form-control">
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">Наименование банка:</span>
  <input type="text" [value]="client.Bank" class="col-xs-12 col-sm-6 form-control">
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">Корреспондентский счёт:</span>
  <input type="text" [value]="client.CorrAccount" class="col-xs-12 col-sm-6 form-control">
</div>


<div class="row">
  <span class ="col-xs-12 col-sm-4">Расчётный счёт:</span>
  <input type="text"  [value]="client.BillAccount" class="col-xs-12 col-sm-6 form-control">
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">Валюта:</span>
  <input type="text" [value]="client.Currency" class="col-xs-12 col-sm-6 form-control">
</div>
