<div class="gp-container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-12">
          <router-outlet></router-outlet>
        </div><!--
        <div class="col-xs-12 col-sm-4">
            <div class="row row-content" *ngIf="caseData != null">
                <label for="caseInitiator" class="mr-sm-4 gp-label">Создатель кейса</label>
                <span class="sm-4">{{caseData.createdBy}}</span>
            </div>

            <div *ngIf="caseData != null">
              <div class="row row-content">
                  <label  class="col-sm-4 gp-label">Сфера деятельности</label>
                  <span class="col-sm-4">{{caseData.content.Industry}}</span>
              </div>

              <div class="row row-content">
                  <label class="col-sm-4 gp-label">Наименование головной организации</label>
                  <span class="col-sm-4">{{caseData.content.HeadLegalName}}</span>
              </div>
            </div>


            <div *ngIf="attachedDocs != null">
              <div *ngFor="let doc_ of attachedDocs.pxResults; let i = index" class="row row-content">
                <i (click)="onDownloadDoc(i)" class="fa fa-file-word-o" style="font-size: 30; cursor: pointer;"></i><span style="font-size: 25">  {{doc_.pyLabel}}</span>
              </div>
            </div>

        </div> -->
    </div>


</div>
