<div class="row">
 <span class ="col-xs-12 col-sm-3">Статус:</span>
 <span>{{request_ru.pyStatusWork}}</span>
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-3">Клиент:</span>
  <span style="cursor:pointer; color:blue;">{{request.ClientLabel}}</span>
</div>


<div class="row" *ngIf="request.pyStatusWork=='Open'">
  <span class="badge badge-success offset-sm-3" style="font-size: 15px; cursor: pointer; width: 300px;" (click)="initRequestCall(true)" >Запросить у клиента документы</span>
</div>

<div class="row" *ngIf="request.pyStatusWork=='Pending-External'">
  <span class="badge badge-success offset-sm-3" style="font-size: 15px; cursor: pointer; width: 300px;" (click)="confirmRequestCall(true)" >Согласовать сделку</span>
</div>

<div class="row" *ngIf="!request.pyStatusWork.includes('Resolved')">
  <span class="badge badge-danger offset-sm-3" style="font-size: 15px; cursor: pointer; width: 300px;" (click)="closeRequestCall(true)">Аннулировать сделку</span>
</div>
