<div *ngIf="caseData != null">
    <h4>{{caseData.content.pyID}}</h4>
</div>

<div class="row" *ngIf="caseData != null">

    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="gp-container col-xs-12 col-sm-12">
                <div class="row">
                    <span class ="col-xs-12 col-sm-3">Регион обслуживания: </span>
                    <gp-dropdown style="padding-left: 0;" *ngIf="cities != null" [readOnly]="true" [source]="cities" [inputSelectedId]="caseData.content.ServiceRegion" class="col-xs-12 col-sm-8"></gp-dropdown>
                </div>
                <div class="row">
                    <span class ="col-xs-12 col-sm-3">Офис:</span>
                    <span style="padding-left:15px;"> {{caseData.content.ServiceOffice}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="gp-container col-xs-12 col-sm-12">
                <div *ngIf="attachedDocs != null">
                    <div *ngFor="let doc_ of attachedDocs.pxResults; let i = index" class="row row-content">
                        <i (click)="onDownloadDoc(i)" class="fa fa-file-pdf-o" style="font-size: 35; cursor: pointer; color:red;"></i><span style="font-size: 23; padding-left: 15px;">  {{doc_.pyLabel}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="gp-container" *ngIf="caseData!= null">
              <gp-request-general-info [request]="caseData.content" [request_ru]="caseData_ru" (initRequest) = "onInitRequest($event)"
              (closeRequest) = "onCloseRequest($event)"
              (confirmRequest)="onConfirmRequest($event)"></gp-request-general-info>
        </div>
    </div>

</div>
