<div class="col-xs-12">
  <h5 *ngIf="caseData != null">{{caseData.content.pyLabel}}</h5>
    <div class="row" *ngIf="caseData != null">
        <div class="col-xs-12 col-sm-6">

            <div class="gp-container">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#contacts" role="tab">Адреса и телефоны</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#accounts" role="tab">Счёт и контактные лица</a>
                    </li>
                </ul>


                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="contacts" role="tabpanel">
                        <div class="form-group" *ngIf="caseData != null">
                            <div>
                                <h5></h5>
                            </div>
                            <gp-contactList [contacts]="caseData.content.ContactList" [readOnly]="isReadOnly"></gp-contactList>
                            <gp-addressList [addresses]="caseData.content.AddressList" [readOnly]="isReadOnly"></gp-addressList>

                            <div class="row" style="margin-top: 15px;">
                              <span class="col-xs-12 col-sm-4">Регион обслуживания:</span>
                              <input  class="form-control col-xs-12 col-sm-8" *ngIf="!isReadOnly" type="text" [value]="caseData.content.ServiceRegion" (input)="caseData.content.ServiceRegion = $event.target.value" >
                              <span  class="col-xs-12 col-sm-8" *ngIf="isReadOnly">{{caseData.content.ServiceRegion}}</span>
                            </div>

                            <div class="row" style="margin-top: 15px;">
                              <span class="col-xs-12 col-sm-4">Сегмент обслуживания:</span>
                              <input  class="form-control col-xs-12 col-sm-8" *ngIf="!isReadOnly" type="text" [value]="caseData.content.Segment" (input)="caseData.content.Segment = $event.target.value" >
                              <span  class="col-xs-12 col-sm-8" *ngIf="isReadOnly">{{caseData.content.Segment}}</span>
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="accounts" role="tabpanel">
                        <div *ngIf="caseData != null">
                          <h5>Счет</h5>
                            <gp-client-accounts-info [client]="caseData.content" [readOnly]="isReadOnly"></gp-client-accounts-info>
                                                      <h5>Контактное лицо</h5>
                            <div *ngFor="let contact of caseData.content.Parties; let i = index;">
                              <gp-addressList [addresses]="contact.Party" [readOnly]="isReadOnly"></gp-addressList>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- END Tab panes -->
            <div class="row gp-container">
                <div *ngIf="caseData != null">
                    <h5>Сделки</h5>
                    <div class="form-group" *ngFor="let childCase of caseData.childCases">
                        <i class="fa fa-external-link" aria-hidden="true" style="font-size:30px"></i><span style="cursor:pointer" (click)="onRequestClicked(childCase.ID)">{{childCase.ID}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6" *ngIf="caseData!= null && caseData_ru != null">
            <div class="gp-container">
                <gp-client-general-info [client]="caseData.content" [client_ru]="caseData_ru" style="cursor:pointer" (initClient)="initClient($event)" (closeClient)="closeClient($event)"></gp-client-general-info>
            </div>
        </div>
    </div>


</div>
