<div class="gp-separator" *ngIf = "!readOnly">
    <div *ngFor="let contact of contacts; let i = index;" class="row" (keypress)="handleKeypress($event)">

        <label *ngIf="_new[i] == false" class="col-xs-12 col-sm-4">{{contact.pyLabel}}</label>
        <input *ngIf="_new[i] == true" class="col-xs-12 col-sm-4 form-control" type="text" [value]="contact.pyLabel" (input)="contact.pyLabel=$event.target.value">

        <input class="col-xs-10 col-sm-6 form-control" [value]="contact.pyPhoneNumber" (input)="contact.pyPhoneNumber=$event.target.value" />
        <button type="button" name="button" class="btn btn-info" (click)="onDelete(i)">-</button>
    </div>
    <button type="button" name="button" class="btn btn-success" (click)="onAdd()">+</button>
</div>

<div class="gp-separator" *ngIf = "readOnly">
    <div *ngFor="let contact of contacts; let i = index;" class="row" (keypress)="handleKeypress($event)">
        <label *ngIf="_new[i] == false" class="col-xs-12 col-sm-4">{{contact.pyLabel}}</label>
        <span class="col-xs-12 col-sm-4">{{contact.pyPhoneNumber}}</span>
    </div>
</div>
