<div class="row">
  <span class ="col-xs-12 col-sm-4">Статус:</span>
  <span>  {{client_ru.pyStatusWork}}</span>
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">Сегмент:</span>
  <span>{{client.Segment}}</span>
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">Приоритет привлечения:</span>
  <span class="badge badge-pill badge-success" style="height:20px;">{{client.Priority}}</span>
</div>

<div class="row">
  <span class="col-xs-12 col-sm-4">Резидент: </span>
  <input class="checkbox disabled col-xs-12" type="checkbox" disabled [checked]="client.IsResident">
</div>

<div class="row">
  <span class="col-xs-12 col-sm-4">Бюджетная организация:</span>
  <input class="checkbox disabled col-xs-12" type="checkbox" disabled [checked]="client.IsStateFinanced">
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">ОГРН:</span>
  <span>{{client.OGRN}}</span>
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">ИНН:</span>
  <span>{{client.INN}}</span>
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">КПП:</span>
  <span>{{client.KPP}}</span>
</div>

<div class="row">
  <span class ="col-xs-12 col-sm-4">ОКПО:</span>
  <span>{{client.OKPO}}</span>
</div>

<div class="row" *ngIf="client.pyStatusWork=='New'">
  <span class="badge badge-success offset-sm-4" style="font-size: 15px; cursor: pointer; width: 300px;" (click)="initClientCall(true)" >Идентифицировать клиента</span>
</div>

<div class="row">
    <span class="badge badge-danger offset-sm-4" style="font-size: 15px; cursor: pointer; width: 300px;" (click)="closeClientCall(true)">Аннулировать клиента</span>
</div>
