<div class="dropdown" *ngIf="!readOnly">
  <button style="margin-left:0;" class="btn btn-secondary dropdown-toggle btn-sm-6" id="dropdownId" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{selectedOption}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let res of source.pxResults; let i = index;" (click)="onClick(i)">{{res.Label}}</a>
  </div>
</div>
<span style="padding-left:15px;" *ngIf="readOnly">{{selectedOption}}</span>
